/*home page last datasets list */
.tg-last-datasets-title{
    color: @tg-green-org;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    padding-bottom: 15px;
}

.tg-home-last-datasets, .organization-container {
    .card dataset-card{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .card-body h4 a{
        font-family: "Raleway";
        font-weight: 700;
        font-size: 1.2rem;
        color: @tg-green-org;
        text-transform: uppercase;
        line-height: 120%;
    }

}
#editorial-datasets .btn-more{
    border: 1px solid @tg-green-org;
    //border-radius: 5px;
    color: #FFF;
    background-color: @tg-green-org;//@tg-green-bright-1;
    margin-top: 10px;
    margin-bottom: 30px;
    &:hover{
        background-color: @tg-green-bright;
        border-color: @tg-green-bright;
    }
}
/*pagination*/
.pagination>.active>{
    a,a:focus,a:hover,span,span:focus,span:hover{
        background-color: @tg-green-bright-1;
        border-color: @tg-green-bright-1;
    }

}

.pagination>li>{
    a,span{
        color: @tg-green-dark;
     }
}

#tg-btn-color(){
    background-color: @tg-green-org;
    color: #FFF;
    &:hover{
        background-color: @tg-green-bright;
    }
}

.breadcrumb-bar {
    .breadcrumb .glyphicon-home{
        color: @tg-green-org;
        &:hover{
            color: @tg-green-bright;
        }
    }
    #export-btn{
        #tg-btn-color();
    }
    .btn-warning,.btn-default{
        #tg-btn-color();
    }
}

.card.dataset-card {
    border-bottom: 2px solid @tg-green-org;
}

/* dataset details */
.opinion .btn-primary{
    background-color: @tg-green-org;
    &:hover{
        background-color: @tg-green-bright;
    }
}

#tg-information-panel .btn-extras{
    background-color: @tg-green-org;
    &:hover{
        background-color: @tg-green-bright;
    }
}
/* reuse details */
body.reuse-display .reuse-section.source-section header{
    background-color: @tg-green-bright-1;
}
body.reuse-display .reuse-section.community-section .btn-toolbar {
    .btn-follow{
        background-color: @tg-green-bright-1;
    }
    .btn-share{
        background-color: @beige;
    }
}

/*organisation details */
.organization-container aside.panel-default .btn-primary{
    background-color: @tg-green-bright-1;
    &:hover{
        background-color: @tg-green-bright;
    }
}

#datasets-download-btn{
    //border: 1px solid @tg-green-org;
    //border-radius: 5px;
    color: #FFF;
    background-color: @tg-green-org;
    margin-top: 10px;
    margin-bottom: 30px;
    &:hover{
        background-color: @tg-green-bright;
    }
}