html {
    font-size: 62.5%;
}
#tg-header{
    border-bottom: 2px solid #EBECED;
}
#tg-header-band-yellow{
    background-color: @tg-yellow;
    height: 50px;
    color: @tg-red-bright-1;
}

#tg-header-band-white{
    background-color: @tg-white;
    //max-width: 1200px;
    //margin: 0 auto;
    #tg-logo-block{
        display: inline-blocK;
        position: relative;
        top: -35px;
        img{
            max-width: 120px;
            display: block;
            height: auto;
        }
    }
    #tg-thematic_search_lang-bar{
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 38px;
        left: 20px;

        #tg-search-block,#tg-lang-block,#tg-thematic-block{
            display: inline-block;
            vertical-align: middle;
        }
        #tg-thematic-block{
            /*width: 15%;
            margin-right: 3%;*/
            margin-right: 15px;

        }
        #tg-search-block{
            margin-right: 15px;
            width: 400px;
            button{
                background-color: @tg-yellow;
                color: #FFFFFF;
            }
            #main-search{
                border: 1px solid @tg-yellow;
                &,&:focus{
                    box-shadow: none;
                }
            }
        }
        #tg-lang-block{
            .tg-lang-name{
                font-size: 1.4rem;
            }
        }
    }

}

/*main menu*/
#tg-main-menu-bar{
    margin: 0px;
    //padding: 10px 0 10px 0;
    //border-top: 2px solid @beige;
    display: inline-block;
    width: 100%;
    &::after{
        content: " ";
        display: inline-block;
        clear: both;
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        white-space: nowrap;
        color: @black-header;
        &:hover{
            color: @tg-green-bright;
        }
    }
    #tg-main-menu{
        margin: 0px;
        padding: 0px;
        display: inline-block;
        float: left;
        &>li{
            display: inline-block;
            vertical-align: top;
            position: relative;
            &>a{
                font-size: 1.4rem;
                padding: 10px 7px;
            }
            &:hover>ul{
                display: block;
                border-top: 2px solid @tg-green-bright;
            }
            &>ul{
                padding: 0;
                display: none;
                position: absolute;
                background-color: @tg-white;
                z-index: 900;
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
                &>li{
                    border: 1px solid @beige;
                    border-bottom: 0;
                    &:last-child{
                        border-bottom: 1px solid @beige;
                    }
                    a{

                    }
                }
            }
        }
    }
    #tg-login{
        display: inline-block;
        float: right;
        padding: 0;
        margin: 0;
        a{
          padding-left: 12px;
        }
        #tg-login-params-toggler{
            cursor: pointer;
            .tg-user-name{
                padding-right: 7px;
            }
            .tg-user-avatar{
            }
        }

    }
}

#tg-header-band-white, #welcome-text-bar{
   max-width: 1200px;
   margin: 0 auto;
}

#welcome-text-bar{
    text-align: center;
    background-color: @tg-green-bright;
    padding: 30px 20px;
    color: white;

    .welcome-text-bold{
        font-size: 2.8rem;
        font-weight: bold;
    }
    .welcome-text-simple{
        font-size: 1.6rem;
    }

}