@tg-yellow: #FFCE14;
@tg-white: #FFFFFF;
@tg-green-dark: #006C31;
@tg-green-bright-1:#4EB973;
@tg-green-bright: #429A60;
@tg-red-bright-1: #D8293E;
@tg-red-bright-2: #D4263F;
@tg-grey-text: #93979D;
@beige: beige;
@black-header:#333;
@tg-green-org: #146c53;
@tg-red-menu-org: #D2183B;
@tg-footer-bg-color: #A5B9BE;
@tg-footer-text-color: #383838;